/******* 
General
*******/
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

/****** 
Navbar
******/
a.link:focus {
  outline: none;
}

/****** 
Header
******/
header {
  background: 
    linear-gradient(to bottom, rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)),
    url("https://images.unsplash.com/photo-1490077476659-095159692ab5?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=b66d15c291f8357f5206cc0ba9dc46ba&auto=format&fit=crop&w=2533&q=80") no-repeat center;
  background-size: cover;
}

/**** 
Home
****/
.home-links {
  background: linear-gradient(to bottom, rgba(0, 0, 0, .5), rgba(0, 0, 0, .5));
  transition: .5s ease;
}
.home-links:hover { opacity: .8; }

/******
Footer
******/
.mail { color: #DA4D45; }
.facebook { color: #3D5A96; }
.twitter { color: #2AA3EF; }